*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI,sans-serif;
}

body{
    background:#f4f7fc;
}

.layout{
    display:flex;
    min-height:100vh;
}

.sidebar{
    width:250px;
    background:#111827;
    color:white;
    padding:20px;
}

.logo{
    text-align:center;
    margin-bottom:40px;
}

.menu{
    list-style:none;
}

.menu li{
    margin-bottom:15px;
}

.menu li a{
    display:block;
    color:white;
    text-decoration:none;
    padding:12px;
    border-radius:8px;
    transition:.3s;
}

.menu li a:hover{
    background:#2563eb;
}

.active a{
    background:#2563eb;
}

.main-content{
    flex:1;
    padding:25px;
}

.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:30px;
}

.profile{
    background:white;
    padding:10px 20px;
    border-radius:10px;
    font-weight:600;
}