*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f6f9;
}

.container{
    width:90%;
    margin:auto;
}

header{
    background:#1f2937;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:20px;
    border-radius:10px;
}

nav{
    margin-top:20px;
}

nav ul{
    display:flex;
    justify-content:center;
    gap:20px;
    list-style:none;
    background:white;
    padding:15px;
    border-radius:10px;
}

nav ul li a{
    text-decoration:none;
    color:#333;
    font-weight:bold;
    transition:0.3s;
}

nav ul li a:hover{
    color:#2563eb;
}

.welcome-section{
    background:white;
    margin-top:20px;
    padding:30px;
    border-radius:10px;
    text-align:center;
}

.welcome-section h2{
    margin-bottom:10px;
}